<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Worker Database</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
    {% include 'worker/navbar.html' %}
    <h1><center>ADD New Worker</center></h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
              <div class="card-body">
                <form action="/worker/home/" method="POST">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for ="id">Worker ID</label>
                    <input id="id" type ="text" class="form-control" placeholder="Enter Worker ID" name="worker_wid">
                  </div>
                  
                  <div class="mb-3">
                    <label for ="name">Worker Name</label>
                    <input id="name" type ="text" class="form-control" placeholder="Enter Worker Name" name="worker_name">
                  </div>

                  <div class="mb-3">
                    <label for ="email">Worker E-mail</label>
                    <input id="email" type ="text" class="form-control" placeholder="Enter Worker E-mail" name="worker_email">
                  </div>

                  <div class="mb-3">
                    <label for ="phone">Worker Phone</label>
                    <input id="phone" type ="text" class="form-control" placeholder="Enter Worker Phone" name="worker_phone">
                  </div>

                  {% comment %} <div class="mb-3">
                    <label for ="sex">Gender</label>
                    <input id="sex" type="checkbox" class="form-check-input" placeholder="Enter worker sex" name="worker_sex">
                  </div> {% endcomment %}

                  <div class="mb-3">
                    <label for ="sex">Gender</label>
                    <input id="sex" type ="text" class="form-control" placeholder="Enter sex" name="worker_sex">
                  </div>

                  <div class="mb-3">
                    <label for ="address">Worker Address</label>
                    <textarea name="worker_address" id="address" rows="6" class="form-control"></textarea>
                  </div>

                  <div class="mb-3">
                    <label for ="department">Department</label>
                    <select name="worker_department" id="department" class="form-control">
                      <option value="Farmer">Farmer</option>
                      <option value="civil">Civil</option>
                      <option value="police">Police</option>
                      <option value="transport">Transport</option>
                    </select>
                  </div>

                  <div class="container text-center">
                    <button class="btn btn-primary" >
                      Add Worker
                    </button>
                  </div>



              </div>

            </div>



        </div>



      </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>